//Form: File input style

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  padding: 10px;
  max-height: 62px;
  color: white;
  background-color: $brand-primary;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: darken($brand-primary, 5%);
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
  pointer-events: none;
}

.input-file + label i {
  padding-right: 6px;
}

//DatesRangePicker: Date picker input style

.DateRangePickerInput {

  input {
    cursor: pointer;
  }

  .DateInput {
    font-size: 14px;
  }

  .DateInput__display-text--focused {
    background-color: lighten($brand-primary, 5%);
    border-color: lighten($brand-primary, 5%);
    color: white;
  }

  .DateRangePickerInput__arrow {
    svg {
      height: 20px;
    }
  }

}

//App header navbar

header.navbar .navbar-brand {
  background-size: 110px auto;
}

//List group

.list-group {

  color: #32baa0;
  cursor: pointer;

  .active {
    color: white !important;
  }

  .list-group-item:hover {
    background-color: darken(white, 5%);
  }

  .list-group-item.active:hover {
    background-color: darken(#32baa0, 5%);
  }

}

//Button style

.btn {
  cursor: pointer;
}

.btn-orange {
  color: white;
  background-color: #e68e50;
  border-color: #e68e50;
}

.btn-orange:hover {
  background-color: darken(#e68e50, 10%);
  border-color: darken(#e68e50, 10%);
}

//Keyword in BoothForm

.keyword-input {

  display: inline-block;
  cursor: text;

  .keyword {
    background-color: #eceff1;
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  i {
    margin-left: 2px;
    cursor: pointer;
  }

  input {
    outline: none;
    border: none;
    font-size: 0.875rem;
    color: #607d8b;
  }

}
